Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/AI/Tasks/Combat/BTTask_ChooseSpell.uasset
Content/AI/Tasks/Services/BTService_AlertAllies.uasset
Content/DominiksContent/BP_domsPlayer.uasset
